@{
    ViewData["Title"] = "Главная";
}
<br />
<br />
<h2 class="text-muted text-center font-weight-light" style="margin-top:0;">Добро пожаловать в учётную запись декана</h2>
<br />
<br />
<body>
</body>