@{
    ViewData["Title"] = "Главная";
}
<br />
<h2 class="text-muted text-center" style="margin-top:0;">Добавить посещение</h2>
<br />
<br />
<body>

    <div class="container">
        <form asp-action="AddVisit" asp-controller="BusinesLogic" style="margin: 0 auto; width:200px;">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label lass="text-info">Часы на занятие:</label><br>
                        <input name="time" type="number" min="2" step="2" value="2" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success" style="width:100%;">Добавить посещение</button>
                </div>
            </div>
        </form>
    </div>
</body>