<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eljur</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4.5.0-dist/css/bootstrap.css">
    <link href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css" />
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- JS, Popper.js, and jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    @*<script src="~/lib/bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/tables//datatables/datatables.min.js"></script>
    <script src="~/lib/tables/handsontable/languages/ru-RU.min.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/daterangepicker.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>

    <!--Vue.js-->
    <script src="~/js/vue@2.js"></script>

    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/tables/table-export/html5/dataTables.buttons.min.js"></script>
    <script src="~/lib/tables/table-export/html5/buttons.flash.min.js"></script>
    <script src="~/lib/tables/table-export/html5/jszip.min.js"></script>
    <script src="~/lib/tables/table-export/html5/pdfmake.min.js"></script>
    <script src="~/lib/tables/table-export/html5/vfs_fonts.js"></script>
    <script src="~/lib/tables/table-export/html5/buttons.html5-custom.js"></script>
    <script src="~/lib/tables/table-export/html5/buttons.print.min.js"></script>
    <script src="~/lib/tables/table-filter.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" asp-action="Index" asp-controller="Settings">ElJur</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    @if (User.IsInRole("admin") || User.IsInRole("teacher"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Settings">Добавить посещение<span class="sr-only">(current)</span></a>
                        </li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Настройки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="EducationLevelsView" asp-controller="Settings">Уровни образования<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="EducationDepartmentsView" asp-controller="Settings">Отделения<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="SpecializationsView" asp-controller="Settings">Специализации<span class="sr-only">(current)</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="GroupView" asp-controller="Settings">Группы<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="SemestersView" asp-controller="Settings">Семестры<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="StudentView" asp-controller="Settings">Студенты<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="VisitView" asp-controller="Settings">Посещения<span class="sr-only">(current)</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="SubjectView" asp-controller="Settings">Предметы<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="ThemeView" asp-controller="Settings">Темы<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="TeachersView" asp-controller="Settings">Преподаватели<span class="sr-only">(current)</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="UsersView" asp-controller="Settings">Пользователи<span class="sr-only">(current)</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="ChooseGroupForSpecialyMark" asp-controller="Dekanat">Особые отметки<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="ChooseGroupForCheck" asp-controller="Dekanat">Контроль<span class="sr-only">(current)</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="ChooseGroupForComments" asp-controller="Shared">Замечания<span class="sr-only">(current)</span></a>


                            </div>
                        </li>
                    }
                    @if (User.IsInRole("teacher"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="VisitView" asp-controller="Settings">Посещения<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="ChooseGroupForComments" asp-controller="Shared">Замечания<span class="sr-only">(current)</span></a>
                        </li>
                    }
                    @if (User.IsInRole("dekanat"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Настройки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="ChooseGroupForSpecialyMark" asp-controller="Dekanat">Особые отметки<span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" asp-action="ChooseGroupForCheck" asp-controller="Dekanat">Контроль<span class="sr-only">(current)</span></a>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("dekan"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Настройки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="ChooseGroupForComments" asp-controller="Shared">Принятые решения<span class="sr-only">(current)</span></a>
                            </div>
                        </li>
                    }
                </ul>

                <span class="navbar-text">
                    <label style="color:white; font-weight:normal; padding-right: 9px;">@User.Identity.Name</label>
                    <a asp-controller="Account" asp-action="Logout" style="color:white; font-weight:bold;" class="btn btn-danger">Выйти</a>
                </span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Eljur - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
