
@{
    ViewData["Title"] = "VisitAddedView";
}
<br />
<br />
<br />
<br />

<h4 style="text-align:center">Посещение успешно добавлено ✅</h4>
<br />
<script>
    setTimeout(redirect, 2000);
    function redirect() {
        document.location.href="/Settings/Index"
    }
</script>

