@model List<Eljur.Context.Tables.EducationLevel>
@{
    ViewData["Title"] = "Уровни образования";
}
<br />
<h2 class="text-muted text-center font-weight-light">Редактировать уровни образования</h2>
<br />
<br />
<hr />
<h6 class="text-center">Список уровней образования</h6>
<hr />
<br />
<table class="table table-bordered" id="tableid" style="text-align:center">
    <thead>
        <tr>
            <th>Название</th>
            <th>Прикрепленые отделения</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var el in Model)
        {
        <tr>
            <td>@el.Name</td>
            <td>
                <ul>
                    @foreach (var depart in el.EducationDepartments)
                    {
                        <li>@depart.Name</li>
                    }
                </ul>
            </td>
            <td align="center">
                <a class="btn btn-primary" asp-action="RemoveEducationLevels" asp-controller="Settings" asp-route-id="@el.Id" title="Удалить выбранную запись">❌</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<hr />
<h6 class="text-center">Добавить уровень образования</h6>
<hr />
<br />
<div style="width: 300px; margin: auto;">
    <form asp-controller="Settings" asp-action="EditEducationLevels">
        <div class="form-group">
            <label>Название уровня образования</label>
            <input name="name" class="form-control" placeholder="Бакалавр" />
        </div>
        <div>
            <button class="btn btn-primary" style="width:100%;">Добавить</button>
        </div>
    </form>
</div>
<br />
<hr />
<h6 class="text-center">Изменить уровень образования</h6>
<hr />
<br />
<div style="width: 300px; margin: auto;">
    <form asp-controller="Settings" asp-action="EditEducationLevels">
        <div class="form-group">
            <label>Именить</label>
            <select class="form-control" name="id" asp-items="@(new SelectList(Model,"Id","Name"))"></select>
        </div>
        <div class="form-group">
            <label>На</label>
            <input name="name" class="form-control" placeholder="Бакалавр" />
        </div>
        <div>
            <button class="btn btn-primary" style="width:100%;">Изменить</button>
        </div>
    </form>
</div>