@{
    ViewData["Title"] = "Главная";
}
<br/>
<br />
<h2 class="text-muted text-center font-weight-light" style="margin-top:0;">Добавить посещение</h2>
<br />
<br />
<body>

    <div class="container">
        <hr />
        <form asp-action="AddVisit" asp-controller="Settings" style="margin: 0 auto; width:200px;">
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" style="width:100%;" asp-controller="Visit" asp-action="ChooseGroupView">Добавить</a>
                </div>
            </div>
        </form>
        <hr />
    </div>
</body>